* {
    padding: 0;
    margin: 0;
}

:root {
    --main-background-color: hsl(0, 0%, 16%);
    --main-text-color: hsla(33, 51%, 73%, 0.886);
    --main-border-color: hsla(33, 51%, 73%, 0.886);
}

.header {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.addBookBtn {
    padding: 6px;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.addBookBtn:hover {
    color: var(--main-background-color);
    background-color: var(--main-text-color);
    /* border: var(--main-background-color); */
}

.addBookBtn:active {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.shelves {
    border: 1px solid yellow;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    grid-template-rows: 1fr;
}

.book {
    border: 1px solid green;
    background-color: aquamarine;
}

.modal {
    border: 1px solid green;
    background-color: pink;
    height: 200px;
}

.footer {
    border: 1px solid red;
    background-color: orange;
}