* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-background-color: hsl(0, 0%, 16%);
}

.header {
    background-color: black;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.button {
    padding: 6px;
    color: antiquewhite;
    background-color: black;
    border-radius: 5px;
}

.button:hover {
    color: black;
    background-color: antiquewhite;
}

.button:active {
    color: antiquewhite;
    background-color: black;
}

.book-shelf {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    grid-template-rows: 1fr;
}

.book {
    color: antiquewhite;
    padding: 10px;
    margin: 20px;
    background-color: var(--light-background-color);
    border-radius: 5px;
    gap: 10px;
}

::backdrop {
    background-color: rgba(0,0,0,0.8);    
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: antiquewhite;
}

input,
textarea {
    font: 1em monospace;
    width: 75%;
    margin-bottom: 6px;
}

textarea {
    height: 7em;
}

.footer {
    background-color: var(--light-background-color);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}